<section class="main-section blog-section" id="blog-posts" data-post-id="{{post_id}}">
  <span class="loading">loading blog posts...</span>
</section>
<script type="text/javascript">

var postOffset = 0;
$(document).ready(function () {
setTimeout(function() {
  // window.BlogView({
  //   model: window.BlogPosts, 
  //   view: $('section.blog-section')
  // })
}, 1000);
})
$(function() {
  // TODO: Redo this in pure JS
  fetchBlogPosts(postOffset, "{{tag_slug}}");
  {{#if syteSettings.integrations.disqus }}
  $('body').bind('blog-post-loaded', function() {
    // embedDisqus(true);
    console.log('loaded')
  });
  {{/if}}
});

var resultsLoaded = false;

</script>