<section class="main-section blog-section" id="blog-posts">
  <span class="loading">loading blog posts ...</span>
</section>
<script type="text/javascript">

var postOffset = 0;
$(function() {
  // TODO: Redo this in pure JS
  {{#if tag_slug}}
  fetchBlogPosts(postOffset, "{{tag_slug}}");
  {{ else }}
  fetchBlogPosts(postOffset);
  {{/if}}
  {{#if syteSettings.integrations.disqus }}
  $('body').bind('blog-post-loaded', function() {
    embedDisqus(true);
  });
  {{/if}}
});

var resultsLoaded = false;
$(window).scroll(function() {
  if(!resultsLoaded && ($(window).scrollTop() +
    $(window).height() > $(document).height()/1.2)) {
      resultsLoaded = true;
      postOffset += 20;
      fetchBlogPosts(postOffset, "{{tag_slug}}");
  }
  if(resultsLoaded && ($(window).scrollTop() + 
    $(window).height() < $(document).height()/1.2)) {
      resultsLoaded = false;
  }
});
</script>